<header>
    <span>Cadastro Para M&eacute;dicos</span>
</header>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <%= f.label :email %>
      <%= f.email_field :email %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
    
      <%= f.label :crm %>
      <%= f.password_field :crm %>
    
      <%= f.submit "Sign up" %>
    <% end %>    