<!DOCTYPE html>
<html>
<head>
  <title>Medicos</title>
  <%= stylesheet_link_tag    'sign_up', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <%= javascript_include_tag 'logins', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
    <% if flash[:alert] %>
        <div class="alerta alert">
            <a href="#" class="fechar">X</a>
            <p><%= alert %></p>
        </div>
    <% end %>
    <% if flash[:notice] %>
        <div class="alerta notice">
            <a href="#" class="fechar">X</a>
            <p><%= notice %></p>
        </div>
    <% end %>
<div class="sign-up-wrapper">

        
        <%= yield %>
    </div>
</body>
</html>
