<!DOCTYPE html>
<html>
<head>
  <title>Medicos</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'homepage', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
<% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
<% end %>
</head>
<body>
<%= yield %>

</body>
</html>
