<!DOCTYPE html>
<html>
<head>
  
  <title>Medicos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
  
  <%= csrf_meta_tags %>
</head>
<body ng-app="reclamacoes">
<% if flash[:alert] %>
    <div class="alerta alert">
        <a href="#" class="fechar">X</a>
        <p><%= alert %></p>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alerta notice">
        <a href="#" class="fechar">X</a>
        <p><%= notice %></p>
    </div>
<% end %>
<header>
        <a href="">LOGO</a>
        <%= link_to "Reclame", new_reclamacao_path, class: "reclame" %>
        <!--<button class="reclame">Reclame</button>-->
        <div class="profile-related">
            <div class="profile">
                <div class="notificacoes">
                    <a href="#" class="history"><%= image_tag "hitory.png" %></a>
                    <a href="#" class="chat" ><%= image_tag "chat.png" %></a>
                </div>
                <%= image_tag "avatar-teste.png", class:"profile_pic" %>
                <span>Fulano</span>
                <%= image_tag "entypo-arrow-white.png"%>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <%= yield %>
    </div>


</body>
</html>
